.diplomata-sc-regular {
  font-family: "Diplomata SC", serif;
  font-weight: 700;
  font-style: normal;
}

.diplomata-sc-regular {
  font-family: "Diplomata SC", serif;
  font-weight: 400;
  font-style: normal;
}

.diplomata-regular {
  font-family: "Diplomata SC", serif;
  font-weight: 400;
  font-style: normal;
}

.diplomata-regular2 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
  background-color: bisque;
}

#titulo {
  text-align: center;
}

* {
  margin: 80;
  padding: 0;
  box-sizing: border-box;
}

.menu{
background-color: burlywood;
}
.navbar {
  overflow: hidden;
  width: 60%;
  margin: 0 auto;
  
}

.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

.navbar ul {
  display: flex;
  gap: 4px;
  list-style: none;
  gap: 50px;
}

.ims {
  background-image: url(../imgs/Psicologia-Analitica.jpg);
  background-size: cover;
  width: 100%;
  height: 500px;
}

.meio {
  text-align: center;
}


.CABER {
  background-color: burlywood;
}

/* contato.html */
 
.formulario-campo {
  display: flex;
  flex: 1;
  gap: 8px;
  width: 30%;
  justify-content: space-between;
  margin-bottom: 16px;
  align-items: center;
}

.formulario-campo label {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.formulario-campo input,
.formulario-campo select,
.formulario-campo textarea {
  width: 300px;
  justify-self: flex-end;
}

.lar p {
  margin: 16px 0;
  font-weight: 600;
}

header {
  position: relative;
  background-color: #3F858C;
  box-shadow: 0 2px 10px rgba(0,0,0,0.4);
}

